*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 66px;
    background: #43a5f6;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    
}
.nav .nav-logo{
    color: #fff;
    
}
.nav-logo img{
    width: 150px;
    height: 60px;
    
}
.nav ul{
    position: relative;
}
.nav ul li{
    position: relative;
    list-style-type: none;
    float: left;
}
.nav ul li a{
    color: #fff;
    font-size: 1.1rem;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: block;
}
.nav ul li a:hover{
    background: #2b93e3;

}
.nav ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #445964;
    padding-left: 0px;
    z-index: 2;
    display: none;
    
}
.nav ul li ul li{
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.nav ul li:hover ul{
    display: block;
}

@media (max-width: 1000px) {
    nav{
        padding: 0px 0px;
    }
    .nav .nav-links{
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #445964;
        display: none;

    }
   
    .nav .nav-links ul{
        padding-left: 0px;
    }
    .nav .nav-links ul li{
        width: 100%;
        display: block;
    }
    .nav .nav-links ul li ul{
        position: relative;
        width: 100%;
    }
    .menuToggle{
        position: relative;
        width: 30px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;

    }
    .menuToggle::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }
    .nav.active .menuToggle::before{
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }
    .nav.active .menuToggle::after{
        transform: rotate(-45deg);
        
    }
}
/* Nav End*/


/* Hero start*/

#hero-section{
    -image: url(../img/home_img/hero-2.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-img{
    background-image: url(../img/home_img/hero-2.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.heading h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 40px;
    
}
.heading p{
    text-align: center;
}
.heading p a{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: #FF6F6F;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

/* hero end*/


.choose-domain h1{
    text-align: center;
}
.input-bar-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.input-item-text{
    width: 25%;
}

/* .dollar{
    width: 20px;
    height: 20px;
} */

.t-99{
    font-size: 18px;

}
.dollar img{
    width: 10px;
    height: 10px;
}

.input-item-text{
    display: flex;
    
}